h1 {
    color: darkred;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;

}
body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}
p{
    color: darkred;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
}
p1 {
    color: darkred;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}
.button {
    background-color: #555555;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    transition-duration: 0.4s;
    width: 120px;
}
.button:hover {
    color: white;
    background-color: #4CAF50;
}
.image {
    position:absolute;
    top: 25%;
    left: 42%;

}
.links {
    color: darkred;
    font-size: 30px;
    font-family: Courier New, Courier, monospace
    
}
a {
    text-decoration: none;
}
.linkholder {
    border: darkred;
    border-style: solid;
    width: 30%;
    position: relative;
    top: -150px;
}
.kopiring {
    font-size: 50px;
    font-family: Courier New, Courier, monospace;
    color: darkred;
    text-decoration: underline;
}
.linkholder2 {
    border: darkred;
    position: relative;
    width: 40%;
    top: -220px;
}